body {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
   color: white;
   text-decoration: none  ;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: steelblue;
margin: auto;}

.header-left {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
    flex: 1;
    
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    margin-right: 50px;
}

.header-left-top,
.header-right-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-right-top{
    justify-content: flex-end;
}

,.header-left-top{
    justify-content: flex-start;
}

.header-left-bottom,
.header-right-bottom{
    margin: 50px 0 50px 0;
    width: %;
}





.header-link-one,
.header-link-two,
.header-link-three {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
flex-shrink: 0;
}